<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dao.BoxMapper">
   <resultMap type="com.song.entity.Box" id="BaseResultMap">
     <id column="boxID" property="boxID" jdbcType="VARCHAR"/>
     <result column="logisticsId" property="logisticsId" jdbcType="VARCHAR"/>
     <result column="pd" property="pd" jdbcType="VARCHAR"/>
     <result column="gp" property="gp" jdbcType="VARCHAR"/>
     <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR"/>
     <result column="pb" property="pb" jdbcType="VARCHAR"/>
     <result column="storeID" property="storeID" jdbcType="VARCHAR"/>
     <result column="pName" property="pName" jdbcType="VARCHAR"/>
     <result column="amount" property="amount" jdbcType="INTEGER"/>
     <result column="price" property="price" jdbcType="FLOAT"/>
     <result column="state" property="state" jdbcType="VARCHAR"/>
     <result column="targetAddr" property="targetAddr" jdbcType="VARCHAR"/>
     <result column="consumeAddr" property="consumeAddr" jdbcType="VARCHAR"/>
     <result column="consumeTime" property="consumeTime" jdbcType="VARCHAR"/>
     <result column="remark" property="remark" jdbcType="VARCHAR"/>
   </resultMap>

  <select id="query" parameterType="java.util.HashMap" resultType="com.song.entity.Box">
    SELECT * FROM boxes
    <where>
    	1=1
    	<if test="id!=null and id!='' ">
    		and boxID = #{id}
    	</if>
    </where>
  </select>
  <update id="update" parameterType="java.util.HashMap">
  	update boxes
  	set
  	logisticsId = #{box.logisticsId},
  	pd = #{box.pd},
  	gp = #{box.gp},
  	manufacturer = #{box.manufacturer},
  	pb = #{box.pb},
  	storeID = #{box.storeID},
  	pName = #{box.pName},
  	amount = #{box.amount},
  	price = #{box.price},
  	state = #{box.state},
  	targetAddr = #{box.targetAddr},
  	consumeAddr = #{box.consumeAddr},
  	consumeTime = #{box.consumeTime},
  	remark = #{box.remark}
  	where boxID = #{box.boxID}
  </update>
  
  <insert id="add" parameterType="java.util.HashMap">
        INSERT INTO boxes
        (boxID,logisticsId,pd,gp,manufacturer,pb,storeID,pName,amount,price,state,targetAddr,consumeAddr,consumeTime,remark) VALUES
        (#{box.boxID},#{box.logisticsId},#{box.pd},#{box.gp},#{box.manufacturer},#{box.pb},#{box.storeID},#{box.pName},#{box.amount},#{box.price},#{box.state},#{box.targetAddr},#{box.consumeAddr},#{box.consumeTime},#{box.remark})
   </insert>
  
  <delete id="delete" parameterType="java.lang.String">
  	delete from boxes where boxID = #{id}
  </delete>
</mapper>