<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dao.LogisticMapper">
   <resultMap type="com.song.entity.Logistic" id="BaseResultMap">
     <id column="id" property="id" jdbcType="INTEGER"/>
     <result column="logisticsID" property="logisticsID" jdbcType="VARCHAR"/>
     <result column="time" property="time" jdbcType="VARCHAR"/>
     <result column="state" property="state" jdbcType="VARCHAR"/>
     <result column="remark" property="remark" jdbcType="VARCHAR"/>
   </resultMap>

  <select id="queryById" parameterType="java.util.HashMap" resultType="com.song.entity.Logistic">
    SELECT * FROM logistics
    <where>
    	1=1
    	<if test="id!=null and id !='' ">
    	and id = #{id}
    	</if>
    </where>
  </select>
  <select id="queryByLid" parameterType="java.util.HashMap" resultType="com.song.entity.Logistic">
    SELECT * FROM logistics
    <where>
    	1=1
    	<if test="logisticsID!=null and logisticsID !='' ">
    	and logisticsID = #{logisticsID}
    	</if>
    	<if test="remark!=null and remark !='' ">
    	and remark = #{remark}
    	</if>
    </where>
  </select>
  <select id="queryByLid1" parameterType="java.util.HashMap" resultType="com.song.entity.Logistic">
    SELECT * FROM logistics where logisticsID = #{logisticsID} and (remark = #{remark} or remark = #{remark1})
  </select>
  <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO user
        (level,userName,password) VALUES
        (#{level},#{userName},#{password})
   </insert>
  
</mapper>