<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dao.ProductMapper">
   <resultMap type="com.song.entity.Product" id="BaseResultMap">
     <id column="id" property="id" jdbcType="VARCHAR"/>
     <result column="caseID" property="caseID" jdbcType="VARCHAR"/>
     <result column="logisticsId" property="logisticsId" jdbcType="VARCHAR"/>
     <result column="pd" property="pd" jdbcType="VARCHAR"/>
     <result column="gp" property="gp" jdbcType="VARCHAR"/>
     <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR"/>
     <result column="pl" property="pl" jdbcType="VARCHAR"/>
     <result column="pb" property="pb" jdbcType="VARCHAR"/>
     <result column="pa" property="pa" jdbcType="VARCHAR"/>
     <result column="ranges" property="ranges" jdbcType="VARCHAR"/>
     <result column="material" property="material" jdbcType="VARCHAR"/>
     <result column="pName" property="pName" jdbcType="VARCHAR"/>
     <result column="price" property="price" jdbcType="FLOAT"/>
     <result column="state" property="state" jdbcType="VARCHAR"/>
     <result column="targetAddr" property="targetAddr" jdbcType="VARCHAR"/>
     <result column="consumeAddr" property="consumeAddr" jdbcType="VARCHAR"/>
     <result column="consumeTime" property="consumeTime" jdbcType="VARCHAR"/>
     <result column="remark" property="remark" jdbcType="VARCHAR"/>
   </resultMap>

  <select id="query" parameterType="java.util.HashMap" resultType="com.song.entity.Product">
    SELECT * FROM products
    <where>
    	1=1
    	<if test="id!=null and id!='' ">
    		and id = #{id}
    	</if>
    </where>
  </select>
  
  <update id="update" parameterType="java.util.HashMap">
  	update products
  	set
  	caseID = #{pro.caseID},
  	logisticsId = #{pro.logisticsId},
  	pd = #{pro.pd},
  	gp = #{pro.gp},
  	manufacturer = #{pro.manufacturer},
  	pl = #{pro.pl},
  	pb = #{pro.pb},
  	pa = #{pro.pa},
  	ranges = #{pro.ranges},
  	material = #{pro.material},
  	pName = #{pro.pName},
  	price = #{pro.price},
  	state = #{pro.state},
  	targetAddr = #{pro.targetAddr},
  	consumeAddr = #{pro.consumeAddr},
  	consumeTime = #{pro.consumeTime},
  	remark = #{pro.remark}
  	where id = #{pro.id}
  </update>
  
  <insert id="add" parameterType="java.util.HashMap">
        INSERT INTO products
        (id,caseID,logisticsId,pd,gp,manufacturer,pl,pb,pa,ranges,material,pName,price,state,targetAddr,consumeAddr,consumeTime,remark) VALUES
        (#{pro.id},#{pro.caseID},#{pro.logisticsId},#{pro.pd},#{pro.gp},#{pro.manufacturer},#{pro.pl},#{pro.pb},#{pro.pa},#{pro.ranges},#{pro.material},#{pro.pName},#{pro.price},#{pro.state},#{pro.targetAddr},#{pro.consumeAddr},#{pro.consumeTime},#{pro.remark})
   </insert>
  <delete id="delete" parameterType="java.lang.String">
  	delete from products where id = #{id}
  </delete>
</mapper>