<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dao.StoreInfoMapper">
   <resultMap type="com.song.entity.StoreInfo" id="BaseResultMap">
     <id column="storeID" property="id" jdbcType="VARCHAR"/>
     <result column="warehouseID" property="userName" jdbcType="VARCHAR"/>
     <result column="inDate" property="password" jdbcType="VARCHAR"/>
     <result column="outDate" property="permission" jdbcType="VARCHAR"/>
     <result column="pb" property="scopes" jdbcType="VARCHAR"/>
     <result column="location" property="name" jdbcType="VARCHAR"/>
     <result column="state" property="email" jdbcType="VARCHAR"/>
     <result column="remark" property="phoneNumber" jdbcType="VARCHAR"/>
   </resultMap>

  <select id="queryByWHid" parameterType="java.util.HashMap" resultType="com.song.entity.StoreInfo">
    SELECT * FROM storeinfo 
    <where>
    	1=1
    	<if test="warehouseID!=null and warehouseID!=''">
    	and warehouseID = #{warehouseID}
    	</if>
    </where>
  </select>
  <select id="queryBySid" parameterType="java.util.HashMap" resultType="com.song.entity.StoreInfo">
    SELECT * FROM storeinfo 
    <where>
    	1=1
    	<if test="storeID!=null and storeID!=''">
    	and storeID = #{storeID}
    	</if>
    </where>
  </select>
  
</mapper>