<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dao.UserMapper">
   <resultMap type="com.song.entity.User" id="BaseResultMap">
     <id column="id" property="id" jdbcType="INTEGER"/>
     <result column="userName" property="userName" jdbcType="VARCHAR"/>
     <result column="password" property="password" jdbcType="VARCHAR"/>
     <result column="permission" property="permission" jdbcType="INTEGER"/>
     <result column="scopes" property="scopes" jdbcType="VARCHAR"/>
     <result column="name" property="name" jdbcType="VARCHAR"/>
     <result column="email" property="email" jdbcType="VARCHAR"/>
     <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR"/>
     <result column="remark" property="remark" jdbcType="VARCHAR"/>
   </resultMap>

    <delete id="deleteUserById" parameterType="java.lang.String">
  	delete from administrators where id = #{id}
  </delete>
  <update id="updateUser" parameterType="java.util.HashMap">
  	update administrators
  	set password = #{password}
  	where userName = #{userName}
  </update>
  <select id="getUsers" parameterType="java.util.HashMap" resultType="com.song.entity.User">
    SELECT * FROM administrators
    <where>
		1=1
		<if test="permission != null and permission != '' ">
			<![CDATA[ AND permission = #{permission} ]]>
		</if>
		<if test="scopes != null and scopes != '' ">
			<![CDATA[ AND scopes = #{scopes} ]]>
		</if>
	</where>
  </select>

  <select id="getUserByName" parameterType="java.util.HashMap" resultType="com.song.entity.User">
    SELECT * FROM administrators
    <where>
		1=1
		<if test="userName != null and userName != '' ">
			<![CDATA[ AND userName = #{userName} ]]>
		</if>
	</where>
  </select>
  
  <select id="userExist" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT * FROM administrators
	<where>
		1=1
		<if test="userName != null and userName != '' ">
			<![CDATA[ AND userName = #{userName} ]]>
		</if>
		<if test="password != null and password != '' ">
			<![CDATA[ AND password = #{password} ]]>
		</if>
	</where>
  </select>
  <select id="userRepeat" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM administrators
	<where>
		1=1
		<![CDATA[ AND userName = #{userName} ]]>
	</where>
  </select>
  
  <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO administrators
        (userName,password,permission,scopes,name,email,phoneNumber,remark) VALUES
        (#{user.userName},#{user.password},#{user.permission},#{user.scopes},#{user.name},#{user.email},#{user.phoneNumber},#{user.remark})
   </insert>
  
</mapper>